<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
    </div>

    <div class="container" id="mars_news">
      <h3>Latest Mars News</h3>
      <h5>{{mars.news_title}}</h5>
      <p>{{mars.news_p}}</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <h3>Featured Mars Image</h3>
          <img src="{{mars.featured_image}}" alt="Mars Image">
        </div>

        <div class="col-md-4 col-sm-12">
          <h3>Mars Facts</h3>
          <div class="mars_facts table-striped">
            {{mars.mars_facts|safe}}
          </div>
        </div>
      </div>
    </div>


    <div class="container" style="padding-top: 20px;margin-top: 20px;">
      <h3 class="text-center">Mars Hemispheres</h3>
      <hr>
      <div class="card-deck">
        <div class="col-md-12">
          <div class="row">
            {%for h in mars.mars_hemispheres %}
            <div class="col-md-3">
              <div class="card">
                <img class="card-img-top" src="{{h.img_url}}" />
                <div class="card-body">
                  <h5 class="card-title text-left">{{h.title}}</h5>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
    </div>


        
    </div>
</body>

</html>